.edit-navigation__menu-selector__select-menu-button {
	width: 100%;
}

.edit-navigation-menu-selector {
	margin: $grid-unit-30 auto;
	width: fit-content;
}

.edit-navigation-menu-selector__body {
	padding: $grid-unit-15;
	@extend .edit-navigation-editor;
}

.edit-navigation-menu-selector__header {
	margin-bottom: $grid-unit-15;
	font-weight: bold;
}
